################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CanIDrive/node_modules
/src/CanIDrive/bower_components
/.vs/CanIDrive/v14/.suo
/src/CanIDrive/CanIDrive.xproj.user
/.vs/**
/src/CanIDrive/wwwroot/bin/**