@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <h3>Can I Drive...</h3>

    <div>... is a site to explore <a href="http://www.projectoxford.ai">Project Oxford</a>.</div>
    <div>Please do not _actually_ use this site to decide whether to drive :-)</div>
    <div></div>
    <a asp-controller="Home" asp-action="Test">Get Started</a>
</div>

