@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <h3>Can I Drive...</h3>

    <div>... is a site to explore <a href="http://www.projectoxford.ai">Project Oxford</a>.</div>
    <div class="disclaimer">Please do not _actually_ use this site to decide whether to drive :-)</div>
    <div class="contributors">Project contributors: Benjamin Moulès, Rachel Yehezkel, Sean Dastouri, Stuart Leeks</div>
    <div><a asp-controller="Home" asp-action="Test" class="btn btn-lg btn-success">Get Started</a></div>
</div>

