@model CanIDrive.Models.Home.ResultModel
@{
    ViewBag.Title = "Result";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (Model.Drunk)
{
    <p>Are you kidding me? You should not be driving!!</p>
}
else
{
    <p>Well done - you seem sober</p>
}

@section scripts {
    <script src="~/wwwroot/js/gauge.min.js"></script>

    }