@{
    ViewBag.Title = "Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    TODO
    <ul>
        <li>Capture audio!!</li>
    </ul>
</div>
<div>Say: peter piper....</div>
<form action="/" method="post">
    <div>
        <label>Enter text</label>
        <textarea cols="10" rows="4">blah</textarea>
    </div>
    <input type="submit" value="Go" />
</form>
<a asp-controller="Home" asp-action="Result">Skip next</a>(for testing)