@model CanIDrive.Models.Home.TestModel
@{
    ViewBag.Title = "Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
  
<div>
    <script src="./JS/SpeechToText/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="./JS/SpeechToText/recorder.js" type="text/javascript"></script>
    <script src="./JS/SpeechToText/main.js" type="text/javascript"></script>
    <script src="./JS/SpeechToText/ws.js" type="text/javascript"></script>
    <script src= "./JS/SpeechToText/index.js" type="text/javascript"></script>
    <div>Click start and then say:</div>
    <div>Peter Piper picked a peck of pickled peppers<br/>
A peck of pickled peppers Peter Piper picked<br />
If Peter Piper picked a peck of pickled peppers<br />
Where's the peck of pickled peppers Peter Piper picked?</div>
    <button onclick='startRecording()'>start</button>
    <button onclick='stopRecording()'>stop</button>
    <div class="textarea" id="messages"></div>
</div>
<div style='display:none;'>
	<form asp-controller="Home" asp-action="Test" id="SpokenTextForm" method="post">
		
        <textarea id="SpokenText" asp-for="SpokenText" cols="10" rows="4"></textarea>
		<input type="submit" value="Go" />
	</form>
</div>
<a asp-controller="Home" asp-action="Result">Skip next</a>(for testing)