@{
    ViewBag.Title = "Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
  
<div>
    <script src="../SpeechToText/resources/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="../../SpeechToText/resources/recorder.js" type="text/javascript"></script>
    <script src="../../SpeechToText/resources/main.js" type="text/javascript"></script>
    <script src="../../SpeechToText/resources/ws.js" type="text/javascript"></script>
    <script src= "../../SpeechToText/resources/index.js" type="text/javascript"></script>

    <button onclick='startRecording()'>Start</button>
    <button onclick='stopRecording()'>Stop</button>
    <div class="textarea" id="messages"></div>
</div>
<div>Say: peter piper....</div>
<form action="/" method="post">
    <div>
        <label>Enter text</label>
        <textarea cols="10" rows="4">blah</textarea>
    </div>
    <input type="submit" value="Go" />
</form>
<a asp-controller="Home" asp-action="Result">Skip next</a>(for testing)